header {
	width: 1000px;
	height: 100px;
	margin-top: 30px;
	display: block;
	background-color: black;
}

header>nav {
	display: inline-block;
	line-height: 80px;
	margin: 10px 25px 10px 25px;
	padding: 0px 25px 0px 25px;
}

header>nav>ul {
	width: 1000px;
	overflow: hidden;
}

header>nav>ul>li {
	list-style: none;
	float: left;
	display: block;
	padding: 10px 20px;
	border: 1px solid black;
}

#left_navi {
	float: left;
	background-color: white;
}

#right_navi {
	float: right;
	background-color: white;
}